.root {
  @apply sticky top-0 bg-primary z-40 transition-all duration-150;
  background: #111;
  color: white;
}

.link {
  @apply inline-flex items-center text-primary leading-6 font-medium transition ease-in-out duration-75 cursor-pointer text-accents-6;
  color: #232323 !important;
}

.link:hover {
  @apply text-accents-9;
}

.link:focus {
  @apply outline-none text-accents-8;
}

.logo {
  @apply cursor-pointer transform duration-100 ease-in-out text-3xl m-0;

  &:hover {
    transform: scale(1.05);
  }
}

.rating {
  cursor: pointer;
  .MuiRating-iconEmpty{
    color: #666;
  }
}
