.root {
  @apply relative flex w-full;
}

.mainContainer{
  @apply w-full;
}

.list {
  @apply flex flex-row items-center justify-end h-full;
}

.item {
  @apply mr-6 cursor-pointer relative transition ease-in-out duration-100 flex items-center outline-none text-gray-100;

  &:hover {
    @apply text-accents-6 transition scale-110 duration-100;
  }

  &:last-child {
    @apply mr-0;
  }

  &:focus,
  &:active {
    @apply outline-none;
  }
}

.itemLabel{
  @apply ml-1;
}

.bagCount {
  @apply border border-accents-1 bg-secondary text-secondary h-4 w-4 absolute rounded-full right-3 top-3 flex items-center justify-center font-bold text-xs;
}

.avatarButton {
  @apply inline-flex justify-center items-center rounded-full;
}

.avatarButton:focus {
  @apply outline-none;
}

@media (max-width: 639px) {
  .list{
    @apply flex-col items-start pt-4;
  }

  .item{
    @apply text-gray-800;
    margin-bottom: 12px;
  }
}