.root {
  @apply bg-primary text-primary rounded-xl px-3 py-2 mr-3 inline-flex
  items-center justify-center cursor-pointer transition duration-150 ease-in-out shadow-none border-gray-400 border box-border lowercase;

  & > span {
    @apply absolute;
  }

  &:hover {
    @apply transform scale-105 bg-hover;
  }
}

.color {
  @apply text-black transition duration-150 ease-in-out;

  &:hover {
    @apply text-black;
  }

  &.dark,
  &.dark:hover {
    color: white !important;
  }
}

.active {
  &.size {
    @apply border-accents-9 border-2;
  }
}
