@import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/pagination/pagination.scss';
@import 'swiper/components/scrollbar/scrollbar.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@import './base.css';

@tailwind components;
@import './components.css';

@tailwind utilities;

#shareFrame{
  opacity: 0;
  pointer-events: none;
  position: fixed;
}

.text-gold {
  color: gold;
}

.MuiRating-iconEmpty {
  color: #666 !important;
}

.mcontainer {
  @apply mx-auto;
  @apply max-w-8xl;
  @apply px-6;
}

.mcontainer-sm {
  @apply mx-auto;
  max-width: 100rem;
  @apply px-6;
}

.mcontainer-xs {
  @apply mx-auto;
  @apply max-w-7xl;
  @apply px-6;
}

.meat-categories {
  transition: all 0.3s ease;
  transform-origin: center top;
  background-color: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  .meat-category {
    cursor: pointer;
    position: relative;
    max-width: 16%;

    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      object-position: center center;
    }

    span {
      margin-top: 4px;
      display: inline-block;
      width: 100%;
      text-align: center;
      font-weight: bold;
      color: #343;
    }

    &:hover {
      transform: scale(1.12);
    }
  }

  &.sticked {
    transform: scale(0.75);
    @apply shadow-lg;
  }
}

.catheading {
  &::before,
  &::after {
    display: none;
    content: url(/images/knives.png);
    opacity: 0.45;
    position: relative;
    pointer-events: none;
    margin: 0 12px;
    transform: scale(0.15);
  }
}

.mproducts > a {
  place-self: stretch;
}

.mproduct {
  text-align: center;
  padding-bottom: 32px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  height: 100%;

  &:hover {
    border: 1px solid forestgreen;

    img {
      transform: scale(1.1);
    }
    .info {
      h6 {
        text-decoration: underline;
        color: forestgreen;
      }
    }
  }

  .prodnum {
    display: inline-block;
    color: white;
    text-align: center;
    background-color: green;
    padding: 2px 4px;
    min-width: 30px;
    border-bottom-right-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  small {
  }

  img {
    position: relative;
    width: 100%;
    height: 200px;
    object-fit: contain;
    transition: all 0.3s ease;
  }

  .info {
    bottom: 0;
    //height: 50px;
    width: 100%;

    h6 {
      line-height: 20px;
      margin-right: 6px;
      font-family: 'Roboto';
      font-weight: 500;
      margin-bottom: 6px;
    }
  }
}

.productcontainer {
  @apply bg-cool-gray-50;
}

.description-container {
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-top: 64px;
  @apply rounded-xl shadow-lg;

  .alltabs {
    display: flex;
    margin-bottom: 12px;
    background-color: #f7f7f7;

    h1 {
      flex-grow: 1;
      @apply px-4 py-3 font-extrabold text-gray-600 text-lg uppercase;
      border-top: 3px solid transparent;
      background-color: #f7f7f7;
      cursor: pointer;

      &.active {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: white;
        border-top: 3px solid lawngreen;
        cursor: default;
      }
    }
  }

  &.show {
    opacity: 1;
  }
}

.description {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: 'Roboto';
  @apply shadow-sm;

  h1 {
    @apply font-extrabold text-gray-600 text-lg mt-5 mb-5 pb-1 uppercase;
    border-bottom: 3px solid forestgreen;
  }

  h3 {
    @apply font-bold mt-4 mb-1 text-gray-700;
    text-decoration: underline;
  }

  strong {
    @apply text-gray-900;
  }

  h5 {
    @apply text-xs mt-1;
  }

  h4 {
    @apply mt-3 text-sm font-bold;
  }

  li {
    list-style-type: disc;
    margin-left: 20px;
  }

  .tab {
    @apply px-4 pb-6;
    flex-basis: 33.333%;
  }

  .tab:nth-of-type(odd) {
    background-color: #effdf8;
  }

  .tabb {
    display: none;
    @apply px-4 py-8;

    &.active {
      display: block;
    }
  }
}

.productview {
  label {
    width: 100%;
  }

  .thumbnails {
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      border: 3px solid transparent;
      border-radius: 6px;
      cursor: pointer;
      overflow: hidden;

      &.active {
        border-color: green;
        cursor: default;
      }
    }

    .myswiper-button-next,
    .myswiper-button-prev {
      position: absolute;
      @apply mx-auto;
      text-align: center;
      cursor: pointer;
      left: 0;
      right: 0;
    }

    .myswiper-button-prev {
      top: 0;
    }

    .myswiper-button-next {
      bottom: 0;
    }
  }
}

.profile {
  font-family: 'Roboto';
  .ptabs {
    overflow: hidden;

    .ptab {
      @apply px-4 py-2;
      border-left: 2px solid transparent;
      border-bottom: 1px solid #ddd;
      cursor: pointer;

      &.active {
        border-left: 2px solid lawngreen;
        background-color: #f2f2f2;
        cursor: default;
      }

      &:hover {
        background-color: #f2f2f2;
      }

      &.logoutbtn {
        border-bottom: 0;
        color: var(--red);
      }
    }
  }

  button {
    @apply rounded px-3 py-2 bg-gray-300;
    flex-grow: 0;
    &:hover {
      @apply bg-gray-200;
    }
  }

  .pcontent {
    @apply px-1 pt-4 rounded-lg bg-white shadow;

    .contentset {
      @apply px-3 pb-8 mb-8;
      border-bottom: 1px solid #ddd;

      .setheading {
        @apply w-full inline-flex justify-between;

        h3 {
          @apply text-2xl text-gray-500 mb-6 font-bold;
          color: seagreen;
          font-family: 'Roboto';
        }

        .actions {
          color: blue;
          cursor: pointer;
        }
      }

      &:last-of-type {
        border-bottom: 0;
        @apply mb-4;
      }

      .address {
        @apply px-2 py-3 mb-2 shadow-sm border rounded-lg relative;

        .options {
          @apply absolute text-gray-500;
          right: 12px;
          top: 6px;
        }

        strong {
          @apply mr-3;
        }

        p {
          @apply mt-2;
        }
      }
    }
  }
}

.form-error {
  color: tomato;
}

.homefilter {
  .checkgroup {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: 8px;
    .MuiFormControlLabel-label {
      @apply text-sm;
    }
    .MuiFormControlLabel-root {
      display: flex;
    }
    .PrivateSwitchBase-input-20 {
      opacity: 0 !important;
      width: 0 !important;
    }
  }
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #212121;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000;
  }
}

.public-reviews {
  background: radial-gradient(circle, forestgreen, darkgreen 90%);
  color: white;
  .banner-section {
    h1 {
      text-shadow: 0 4px 12px rgb(0 0 0 / 43%);
    }

    .overalls {
      width: 100%;
      max-width: 320px;
      position: relative;
      .MuiRating-iconEmpty {
        color: transparent !important;
      }
      .bar {
        background-color: #343;
        .innerbar {
          background-color: gold;
        }
      }
    }

    .writereview {
      @apply w-full px-5 py-8 bg-gray-100 max-w-4xl rounded-xl;
      color: #121212;
    }

    .reviewtextarea {
      color: #222;
    }

    .reviewbtn {
      @apply py-3 px-6 shadow bg-white;
      color: green;
      &:hover {
        @apply shadow-sm;
        background-color: white;
      }
    }
  }
}

.alrevs {
  .arev {
    .comment {
      font-family: 'Roboto';
      color: black;
    }
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: forestgreen;
  font-size: 2rem !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: darkgreen;
}

.usernavcont {
  position: relative;
  display: flex;
}

.smlinks {
  display: none !important;
}

.filterButtonBox{
  display: none;
}

.orderscontainer{
 .allorders{
   margin-top: 24px;
   .ordersection{
    margin-top: 18px;
   }
 }
}

// Small Devices
@media (max-width: 639px) {


  .description{
    .tab{
      flex-basis: 100%;
    }
  }

  .homefilter {
    position: fixed;
    background: white;
    z-index: 10;
    top: 78px;
    left: 0;
    padding-left: 15px;
    bottom: 0;
    overflow-y: auto;
    transition: all 0.24s ease;
    transform: translateX(-24px);
    opacity: 0;
    pointer-events: none;

    &.visibled {
      opacity: 1;
      transform: translateX(0px);
      pointer-events: all;
    }
  }

  .filterButtonBox {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0px;
    padding-bottom: 28px;
    display: inline-flex;
    justify-content: center;
    pointer-events: none;
    z-index: 100;
    overflow: hidden;

    .filterbtn{
      pointer-events: none;
      cursor: pointer;
      padding: 12px 18px;
      background-color: black;
      color: white;
      border-radius: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(150px);
      transition: all 0.18s ease;
      @apply shadow-2xl;
      h6{
        @apply font-medium text-sm ml-2;
        text-transform: uppercase;
      }
    }

    &.visibled{
      .filterbtn{
        pointer-events: all;
        transform: translateY(0px);
      }
    }
  }

  .scartlink {
    display: none !important;
  }

  .dmenulink {
    display: none !important;
  }

  .smlinks {
    display: flex !important;
    .MuiSvgIcon-root {
      margin-right: 5px;
    }
  }

  .sidemenuicon {
    position: absolute;
    top: 24px;
    right: 18px;
  }

  .usernavcont {
    position: fixed;
    top: 78px;
    bottom: 0;
    width: 100vw;
    left: 0px;
    background-color: white;
    color: #121212;
    justify-content: flex-start;
    padding: 24px 18px;
    transition: all 0.3s ease;
    transform: translateX(20px);
    opacity: 0;
    pointer-events: none;

    &.visible {
      transform: translateY(0px);
      opacity: 1;
      pointer-events: all;
    }
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: transparent !important;
  }

  .meat-categories {
    .mcc {
      flex-wrap: wrap;
      .meat-category {
        max-width: 26%;
      }
    }
  }

  .mproducts {
    .mproduct {
      img {
        height: 150px;
      }
      .info {
        min-height: 50px;
        height: unset;
        h6 {
          line-height: 20px;
        }
        width: 100%;
      }
    }
  }
}
