.root {
  @apply w-full;
  height: calc(100vh - 300px);

  .swiper-button-prev::after, .swiper-button-next::after{
    color: forestgreen;
    font-size: 2rem;
  }
}

.slide {
  position: relative;
}

.img {
  position: absolute;
  height: auto;
  width: 100%;
  pointer-events: none;
  object-fit: cover;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.s1 {
  background: rgb(255, 255, 255);
  background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.00043767507002800965) 100%);
}

.s2 {
  background: rgb(162, 112, 38);
  background: linear-gradient(135deg, rgba(162, 112, 38, 1) 0%, rgba(255, 255, 255, 0.00043767507002800965) 100%);
}

// Small Devices
@media (max-width: 639px) {
  .root{
    height: 240px;
    .swiper-button-prev::after, .swiper-button-next::after{
      color: transparent;
    }
  }

  .img{
    height: 100%;
  }
}
