.root{
  height: 50px;
  width: 290px;
  margin: 10px 0;
}

.cls1 {
  font-size: 50px;
  filter: url(#filter);
  fill: #31010b;
}

.cls1, .cls2, .cls4 {
  text-anchor: middle;
}

.cls2 {
  font-size: 183.333px;
  fill: #00DD00;
}

.cls2, .cls4 {
  font-family: Ubuntu, sans-serif;
  font-weight: 600;
}

.cls3 {
  font-size: 145.833px;
}

.cls4, .cls6 {
  font-size: 115.657px;
}

.cls4 {
  fill: #fafafa;
}

.cls5 {
  font-size: 102.807px;
}

.cls6 {
  fill: #9a0000;
}

@media (max-width: 639px) {
  .root{
    width: 180px;
  }
}